HELP.md
/leasingcontractor/.gradle
/leasingcontractor/build/
!/leasingcontractor/gradle/wrapper/gradle-wrapper.jar
!**/leasingcontractor/src/main/**/build/
!**/leasingcontractor/src/test/**/build/


### IntelliJ IDEA ###
/leasingcontractor/.idea
/leasingcontractor/*.iws
/leasingcontractor/*.iml
/leasingcontractor/*.ipr
/leasingcontractor/out/
!**/leasingcontractor/src/main/**/out/
!**/leasingcontractor/src/test/**/out/


### VS Code ###
.vscode/
