HELP.md
/restapi/.gradle
/restapi/build/
!/restapi/gradle/wrapper/gradle-wrapper.jar
!**/restapi/src/main/**/build/
!**/restapi/src/test/**/build/


### IntelliJ IDEA ###
.idea/
/restapi/.idea/
/restapi/*.iws
/restapi/*.iml
/restapi/*.ipr
/restapi/out/
!**/restapi/src/main/**/out/
!**/restapi/src/test/**/out/


### VS Code ###
.vscode/
